*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
.svn/
Bin/
bin/
obj/
obj
Debug/
Release/
*.user
*.csproj.user
*.ReSharper.user
*.suo
*.vspscc
*.vssscc
*_ReSharper.*
*.vbproj.user
*.ReSharper
*.ReSharper.*
*.cache
*.DotSettings
artifacts/

minified/